.padded {
    padding: 10px;
}

a {
    float:left;
}

h1 {
    float:right;
}
section {
    font-size: 20px;
    line-height: 1.5;
    float:right;
}

#quote {
    font-size: 16px;
    line-height: 2;

}