.padded {
    padding: 10px;
}

a {
    float:left;
    align: center;
}

section {
    font-size: 20px;
    line-height: 1.5;
    float:right;
}

.bottom {
    clear:both;
}

#quote {
    font-size: 16px;
    line-height: 2;

}